<?xml version="1.0" encoding="UTF-8"?>

<harvest>
   <bundles>
	   <bundle dir="{{root}}" />
  </bundles>
<fileInfo processDataFiles="true" storeLabels="true">
    <!-- UPDATE HERE with you own local path and base url where pds4 archive are published -->
    <fileRef replacePrefix="/data/local/starbase/data/pds4/test-data/registry/" with="https://pds-gamma.jpl.nasa.gov/data/pds4/test-data/registry/" />
</fileInfo>
<fileRef/>
<autogenFields />
<internalRefs prefix="ref_">
  <lidvid convertToLid="false" keep="true" />
</internalRefs>
</harvest>
